// $navbar-dropdown-arrow: #f00;
@import "theme/_main";

// You can add additional styling here
@import "_example"; // either as inline css or as a separate file as in this case

.navbar-link {
    font-size: 1.2rem;
    font-weight: bold;
}

.footer {
    padding: 0;
}
.footer-hostedby {
    background-color: #284966;
}
.footer-groups .footer-column:first-child {
    flex-grow: 1;
}
.footer-groups .footer-column {
    margin: 0 24px 6px 24px;
}
