@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Colors
$color-sbdi-dark-blue: #284966; 

// Overrides
$family-primary: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$link: $color-sbdi-dark-blue;
$link-hover: darken($link, 20%);
$content-heading-weight: 500;
$navbar-height: 2.7rem;
$box-background-color: oklch(96.8% 0.007 247.896);
$box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

@import "theme/_main";

// Navbar
header.container {
    padding-left: 3rem;
}
header.container a {
    text-decoration: none;
}
.navbar {
    padding-left: 20rem;
}
.navbar-logo {
    display: none;
}
.navbar--hasWhiteText .navbar-top-item:hover,
.navbar--hasWhiteText .navbar-top-item:active,
.navbar--hasWhiteText .navbar-top-item:focus {
    background-color: $color-sbdi-dark-blue !important;
}
a.navbar-item, 
a.navbar-item:hover, 
a.navbar-link,
a.navbar-link:hover {
    text-decoration: none;
}

// Footer
.footer {
    padding: 0;
}
.footer-hostedby {
    background-color: $color-sbdi-dark-blue;
}
.footer-groups .footer-column:first-child {
    flex-grow: 1;
}
.footer-groups .footer-column {
    margin: 0 24px 6px 24px;
}

// Framework
.article {
    max-width: 80rem;
}
.article--toc {
    max-width: 100rem;
}

a, a:hover {
    text-decoration: underline;
}
a.button, a.button:hover {
    text-decoration: none;
}

// Content
.about--logos {
    display: grid; 
    grid-template-columns: auto auto auto auto auto auto; 
    column-gap: 24px; 
    row-gap:24px
}
.about--logos img {
    max-width: 100%;
    height: 150px;
}