// Colors
$color-sbdi-dark-blue: #284966; 

// Overrides
$family-primary: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$navbar-height: 2.7rem;

@import "theme/_main";

.navbar {
    padding-left: 2rem;
}
.navbar-logo {
    display: none;
}
.navbar--hasWhiteText .navbar-top-item:hover,
.navbar--hasWhiteText .navbar-top-item:active,
.navbar--hasWhiteText .navbar-top-item:focus {
    background-color: $color-sbdi-dark-blue !important;
}

.footer {
    padding: 0;
}
.footer-hostedby {
    background-color: $color-sbdi-dark-blue;
}
.footer-groups .footer-column:first-child {
    flex-grow: 1;
}
.footer-groups .footer-column {
    margin: 0 24px 6px 24px;
}
